@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather|Montserrat&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Josefin Sans', sans-serif;
*/

@media only screen and (min-width: 950px) 
{
    html 
    {
        height: 100%;
    }

    body 
    {
        height: 100%;
        margin: 0;
        background: linear-gradient(to right top, #C06C84, #40527E);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    header
    {
        height: 10vh;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    header img
    {
        width: 200px;
        margin-left: 20px;
        margin-top: 35px;
    }

    #select-temp
    {
        width: 80px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        border-radius: 20px;
        margin-right: 20px;
    }

    #celcius, #fahrenheit
    {
        background-color: white;
        border: 0;
        width: 60px;
        color: #AAAAAA;
    }

    #fahrenheit
    {
        border-radius: 0 20px 20px 0;
    }

    #celcius
    {
        border-radius: 20px 0 0 20px;
        color: #F67280;
    }

    #celcius:focus, #fahrenheit:focus
    {
        outline: none;
        background-color: rgb(255, 234, 236);
    }

    #section-today
    {
        width: 100%;
        height: 90vh;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-size: 1.2em;
    }

    #container-today
    {
        width: 458px;
        height: 128px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 30%;
        display: flex;
        align-items: center;
    }

    #location-degree-container
    {
        width: 150px;
        position: relative;
        top: 15px;
    }

    #summary
    {
        width: 180px;
        position: relative;
        top: 15px;
    }


    #section-forecast
    {
        background-color: rgb(255, 255, 255);
        height: 450px;
        width: 100%;
    }

    #container-forecast
    {
        color: #323450;
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        top: 75px;
    }

    .item-forecast
    {
        width: 155px;
        color: black;
    }

    .forecast-date
    {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .icon-forecast
    {
        text-align: center;
        font-family: 'Merriweather', serif;
        margin: 20px;
    }

    .forecast-temp
    {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .forecast-summary
    {
        margin-top: 20px;
        text-align: center;
        font-family: 'Merriweather', serif;
    }

    #swipe-icon
    {
        display: none;
    }

    footer
    {
        height: 200px;
        width: 100%;
        background-color: #323450;
    }

    #footer-container
    {
        width: 100%;
        position: relative;
        top: 80px;
    }

    #madeby
    {
        font-size: 1.2em;
    }

    #powered
    {
        font-size: 1em;
    }

    #powered, #madeby
    {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }
}


@media only screen and (max-width: 950px) 
{
    html 
    {
        height: 100%;
    }

    body 
    {
        height: 100%;
        margin: 0;
        background: linear-gradient(to right top, #C06C84, #40527E);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    header
    {
        height: 10vh;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    header img
    {
        width: 150px;
        margin-left: 15px;
    }

    #select-temp
    {
        width: 60px;
        height: 20px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        margin-top: 30px;
        margin-right: 15px;
    }

    #celcius, #fahrenheit
    {
        background-color: white;
        border: 0;
        width: 60px;
        color: #AAAAAA;
    }

    #fahrenheit
    {
        border-radius: 0 20px 20px 0;
    }

    #celcius
    {
        border-radius: 20px 0 0 20px;
        color: #F67280;
    }

    #celcius:focus, #fahrenheit:focus
    {
        outline: none;
        background-color: rgb(255, 234, 236);
    }

    #section-today
    {
        width: 100%;
        height: 90vh;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
        font-size: 1.2em;
    }

    #container-today
    {
        width: 200px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 25%;
        align-items: center;
    }

    #location-degree-container
    {
        width: 150px;
        position: relative;
        top: 15px;
        margin: 0 auto;
    }

    #summary
    {
        width: 100px;
        position: relative;
        top: 15px;
        margin: 0 auto;
    }


    #section-forecast
    {
        background-color: rgb(255, 255, 255);
        height: 450px;
        width: 100%;
    }

    #container-forecast
    {
        color: #323450;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        position: relative;
        top: 55px;
        
        overflow-x: scroll;
        word-break: break-word;
    }

    #container-forecast::-webkit-scrollbar 
    {
        display: none;
    }

    .item-forecast
    {
        width: 155px;
        color: black;
        display: inline-block;
    }

    .forecast-date
    {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .icon-forecast
    {
        text-align: center;
        font-family: 'Merriweather', serif;
        margin: 20px;
    }

    .forecast-temp
    {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .forecast-summary
    {
        margin-top: 20px;
        text-align: center;
        font-family: 'Merriweather', serif;
    }

    #swipe-icon
    {
        width: 25px;
        position: relative;
        top: 100px;
        left: 45%;
    }

    footer
    {
        height: 200px;
        width: 100%;
        background-color: #323450;
    }

    #footer-container
    {
        width: 100%;
        position: relative;
        top: 80px;
    }

    #madeby
    {
        font-size: 1.2em;
    }

    #powered
    {
        font-size: 1em;
    }

    #powered, #madeby
    {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }
}